::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 0ms;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}